  <h1>Welcome <%= @user.name %></h1>
  <% if @user.events.any? %>
	<h3>Events created</h3>
	<% @user.events.each do |event| %>
	 <%= event.description %> <br>
	<%end%>
  <%else%>
	h3>Events were not created</h3>
  <%end%>
   <h3>

 <% if @user.invites.any? %>
	<h3>Invitations </h3>
	<% @user.invites.each do |invite| %>
	 <%= invite.event.description %> <br>
	<h3>You are Invites</h3>
	<%end%>
  <%else%>
	<h3>You are not Invites</h3>
  <%end%>